@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* @import "flowbite/src/themes/default"; */
/* @plugin "flowbite/plugin"; */
/* @source "../../node_modules/flowbite"; */

.pix,
.pix {
    image-rendering: pixelated;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*, p, a, h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  letter-spacing:0.02rem
}

.mono,
.mono * {
  font-family: "Space Mono", monospace;
}
body {
    min-height: 100vh;
}
