body {
}

.title-logo-wrapper {
    position: sticky;
    bottom: -5vmin;

    display: flex;
    justify-content: center;

    overflow: show;
    /* height: 100px; */

}

.title-logo {
    max-width: 75%;
    width: 40vmax;
    transform: translate(0, -20%);

}

