* {
    image-rendering: pixelated;
    line-height: 2rem;
}

body {
    min-height: 100vh;
}

.badge {
    width: 10px;

    display: block;
}

.auto-width {
    width: 75%;
}
.adaptive-block {
    display: block;
}

@media only screen and (max-width: 770px) {
    .auto-width {
        width: 100%;
        padding: 10px;
    }
    .adaptive-block {
        display: contents;
    }
}

.link-with-icon {
    transition: all 0.2s ease;
    border-radius: 0 20px 20px 0;
}
.link-with-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.link-icon {
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;

    width: 3rem;

    image-rendering: pixelated;
    filter: invert(0.1);

    transition: all 0.2s ease;
}
.link-with-icon:hover > .link-icon {
    margin: 0;
    margin-right: 0.25rem;

    width: 3.5rem;

    filter: invert(0);
}

.hover-border {
    border-left: solid 0.2rem #0d6dfd00;
    padding-right: 0.25rem;

    transition: all 0.2s ease;
}
.hover-border:hover {
    border-left: solid 0.2rem #0d6efd;
    padding-right: 0rem;
    padding-left: 0.5rem;
}

/* Вложенные списки */
ol {
    list-style: none;
    counter-reset: li;
}
ol > li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}

/* Анимация логотипа при наведении */
* {
    --link-logo: 10vmin;
}

.logo-hover-interact {
    position: relative;
    padding: 5px;
}

.layout-img-1,
.layout-img-2,
.layout-img-under{
    position: absolute;
    width: var(--link-logo);
    height: var(--link-logo);
    margin: 0;
    padding: 0;
}

.layout-img-1 > img,
.layout-img-2 > img,
.layout-img-under > img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 800px) {
    * {
        --link-logo: 15vmin;
    }
    
}
.layout-img-1 {
    z-index: 2;
}
.layout-img-2 {
    z-index: 2;
}
.layout-img-under {
    z-index: 0;
    transition: 0.25s;
    opacity: 0.5;
    filter: blur(1.5rem);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.075);
    }
    100% {
        transform: scale(1);
    }
}

.logo-hover-interact:hover > .layout-img-1 {
    animation: pulse 0.6s ease-out 1;
}
.logo-hover-interact:hover > .layout-img-2 {
    animation: pulse 0.6s ease-out 1 200ms;
}
.logo-hover-interact:hover > .layout-img-under {
    filter: blur(0.5rem);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.logo-hover-interact:hover > .layout-img-1 > img {
    animation: rotate 0.7s ease-in-out 1;
}
.logo-hover-interact:hover > .layout-img-2 > img {
    animation: rotate 0.7s ease-in-out 1 75ms;
}

/* Menu toggler */
.menu-toggler {
    position: fixed;
}
